body{
    background-color: #f6f6f6;
}
.container-fluid {
    padding: 0;
    .row{
        margin-right: 0;
    }
}
.header{
    display: block;
}
.header-admin {
    .navbar-header .navbar-brand {
        width: 220px;
        height: 80px;
        line-height: 80px;
        background-color: #7992BF;
        padding: 0;
        text-align: center;
        color: #fff;
    }
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0;
    }
    .navbar-default {
        background-color: #fff;
        border: 0 none;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
        .navbar-nav>li>a {
            color: #777;
            padding-top: 0;
            padding-bottom: 0;
            min-height: 80px;
            line-height: 80px;
            background-color: #fff;
            &:hover {
                color: #ccc;
                background-color: #fff;
            }
        }
        .navbar-collapse {} .navbar-form {}
    }
}
#sidebar {
    top: 80px;
    background-color: #1F2837;
    color: #fff;
    width: 220px;
    padding: 0;
    height:100%;
    li {
        a {
            color: rgba(255,255,255,.5);
            font-weight: bold;
            font-size: 12px;
            &:hover,&:active,&:focus{
                background-color:#1F2837;
                color:#ccc;

            }
            span{
                margin-right:10px;
                font-size: 18px;
            }
        }
    }
}


/*Result container*/
*{
    -webkit-transition: width .5s, padding .5s, margin .5s, right .1s ease-in-out; /* Safari */
    transition: width .5s, padding 0.5s, margin .5s, right .1s ease-in-out;
}
.admin-result-container{
    position: relative;
    top:80px;
	overflow:hidden;
    .dashboad-list{
        width: 40%;
        padding:60px 40px;
        border:8px solid #fff;
        margin:0 auto;
		margin-top:100px;
        border-radius: 10px;
        .legend{
            background:#f6f6f6;
            padding:0 10px;
            position:absolute;
            top:95px;
            font-size:15px;
            color:#a0a0a0;
            font-weight: bold;
            font-family:Arial;
        }
    }
    .dashboad-list{
        width: 40%;
    }
    .category-list,.dashboad-list{
        margin:0 auto;
		margin-top:100px;
        &.min-list{
			margin-top:0;
            display: none;
            .list-item{
                margin:10px 15px;
                opacity: 0.4;
                &.active,&:hover{
                    opacity:1;
                    background:#f00;
                }
				.icon{
					bottom:12px;
					right:12px;
				}
                a{
                    padding:35px;
                    .icon{
                        font-size:15px;
                    }
                    .ico-label{
                        //display: none;
                        font-size: 10px;
                    }
                }
            }
            .manage-categories{
                display: none;
            }
        }
        .manage-categories{
            text-align: center;
            a{
                display: inline-block;
                margin-top:20px;
                i{
                    padding-right: 10px;
                    vertical-align: text-bottom;
                }
            }
        }
        .list-item{
            float: left;
            margin:10px 20px;


            a{
                padding: 50px;
                display: inline-block;
                color: #fff;
                position: relative;
                text-transform: uppercase;
                font-family: Arial;
                font-size: 11px;
                text-decoration: none;

                &.item-default{
                    background: #7992BF;
                    border: 1px solid #6884b7;
					.icon{
						&:before{
							content:"";
						}
					}
                }
                &.item-stats{
                    background: #7992BF;
                    border: 1px solid #6884b7;
					.icon{
						&:before{
							content:"\e99b";
						}
					}
                }
                &.item-users{
                    background:#6BD5C3;
                    border:1px solid #57cfbb;
					.icon{
						&:before{
							content:"\e972";
						}
					}
                }
                &.item-categories{
                    background:#ED848F;
                    border:1px solid #ea6e7b;
					.icon{
						&:before{
							content:"\e621";
						}
					}
                }
                &.item-orders{
                    background:#ECD48B;
                    border:1px solid #e8cc75;
					.icon{
						&:before{
							content:"\e61c";
						}
					}
                }
                &.item-customer{
                    background:#5d9efd;
                    border:1px solid #7d9efd;
					.icon{
						&:before{
							content:"\e923";
						}
					}
                }
                &.item-classification{
                    background:#A9DC8E;
                    border:1px solid #9ad67b;
					.icon{
						&:before{
							content:"\e936";
						}
					}
                }
                &.item-resorts{
                    background: #7992BF;
                    border: 1px solid #6884b7;
					.icon{
						&:before{
							content:"\e921";
						}
					}
                }
                &.item-hotels{
                    background:#A9DC8E;
                    border:1px solid #9ad67b;
					.icon{
						&:before{
							content:"\e903";
						}
					}
                }
                &.item-spa{
                    background:#6BD5C3;
                    border:1px solid #57cfbb;
					.icon{
						&:before{
							content:"\e9a4";
						}
					}
                }
                &.item-car{
                    background:#ECD48B;
                    border:1px solid #e8cc75;
					.icon{
						&:before{
							content:"\e9b0";
						}
					}
                }
				&.item-flight{
                    background:#5d9efd;
                    border:1px solid #7d9efd;
					.icon{
						&:before{
							content:"\e9af";
						}
					}
                }
                &.item-movies{
                    background:#ED848F;
                    border:1px solid #ea6e7b;
					.icon{
						&:before{
							content:"\e913";
						}
					}
                }
            }
            .icon{
                position: absolute;
                right: 5px;
                bottom: 5px;
                font-size:40px;
				font-family:"icomoon";
            }
            .ico-label{
                position: absolute;
                top: 5px;
                left: 5px;
            }
        }
    }
}
.item-container{
    background: #fff;
    border:1px solid #eee;
    margin:0 40px;
    padding:30px;
    position: relative;
}
.search-form{
	display:none;
}
.search-result-table{
	transition: width .5s, padding 0.5s, margin 2s, right 2s;
	display:none;
	position:relative;
	right:0;
	&.hide-table{
		right:100%;
	}
}
.form-item{
    display: inline;
    margin:0 10px;
    select,input[type="text"]{
        padding:10px;
        border:1px solid #eee;
        color:#a3a3a3;
    }
    label{
        color:#918884;
        font-weight: normal;
        font-size:13px;
        font-family: Arial;
        padding-right: 10px;
    }
    input[type="submit"],input[type="button"]{
        background-color:#7992BF;
        border:1px solid #6884b7;
        width: 95px;
		color: #fff;
		font-weight: bold;
    }
}
.delete-edit-container{
	margin:10px 0;
	a{
		font-family:"icomoon";
		font-size:0;
		color:#333;
		&:before{
			font-size:15px;
			padding:0 10px;
		}
		&:hover,&:focus,&:active{
			color:#337ab7;
			text-decoration:none;
		}
	}
	.edit{
		&:before{
			content:"\e905";
			font-size:15px;
		}
		&.desabled{
			cursor:default;
			&:before{
				color:#ccc;
			}
		}
	}
	.delete{
		&:before{
			content:"\e9ad";
			font-size:15px;
		}
	}
    .view{
		&:before{
			content:"\e9ce";
			font-size:15px;
		}
	}
	.add-row{
		&:before{
			content:"\ea0a";
			font-size:15px;
		}
	}
	&.disabled{
		.edit,.delete{
			cursor:default;
			&:before{
				color:#ccc;
			}
		}
	}
}
.add-form-container{
	display:none;
}
.form-heading{
    padding-bottom:15px;
    h2{
        font-size:24px;
        color:#7992bf;
        font-weight:bold;
        text-transform:capitalize;
        margin-top:0;
    }
}
.data-form{
    width:70%;
    margin:0 auto;
    .form-group{
        width:78%;
        margin-top:5px;
        margin-bottom:5px;
        clear:both;
        label,input,textarea{
            float:left;
            font-size:13px;
        }
        span{
            font-weight: bold;
            margin-top:10px;
            display: inline-block;
            margin-left: 10px;
            font-size:12px;
        }
        label{
            width:150px;
            font-weight:normal;
            color:#918882;
            font-size:13px;
        }
        textarea{
            width:340px;
        }
        .checkbox{
                width:135px;
                float:left;
                margin:0;
            input[type="radio"]{
                width:20px;
            }
        }
    }
}
.form-control{
    width:65%;
}

.cat-list,.class-list{
	table{
		width:100%;
		tr{
			th{
				padding:10px;
				background:#fff;
				border-bottom:1px solid #ccc;
			}
			td{
				padding:10px;
				.icon{
					font-family:"icomoon";

				}
                .cat-desc{
                    font-size:12px;
                }
			}
		}
	}
    .delete-edit-container{
        margin:0;
    }
    .list-action{
        width:160px;
        padding-left:20px;
    }
}
/*Products styles Start */
ul{
    padding:0;
    margin:0;
    li{
        list-style-type: none;
    }
}
.heading1{
    color:#333;
    font-size:18px;
    font-family: Arial;
    border-bottom:2px solid #1F2837;
    padding-bottom: 10px;
    a{
        font-size:11px;
        padding-left: 15px;
    }
}
.product-view{
    ul{
        li{
            line-height: 24px;
            label{
                padding-right:10px;
            }
        }
    }
    label{
        padding-right:10px;
    }
    .address-container{
        background: #f0f0f0;
        padding: 20px 30px;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        position: relative;
        p{
            margin:0;
            padding:0;
            line-height:21px;
            font-size: 12px;
        }
    }
    .tariffs-container,.amenities-container,.tnc-container,.phone-container{
        background: #f0f0f0;
        padding: 20px 30px;
        margin-bottom: 10px;
        position: relative;
        p{
            padding:0;
            margin:0;
        }
    }
    .close-btn{
        color: #000;
        font-weight: bold;
        float: right;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 11px;
    }
}
/*Products styles End */

.confirm-alert-container{
    display:none;
    .cofirmation-alert{
        width: 350px;
        height:170px;
        background: #fff;
        position: fixed;
        top: 50%;
        left: 20%;
        right: 0;
        bottom:0;
        margin:0 auto;
        padding: 50px;
        border: 1px solid #f0f0f0;
        text-align: center;
        .btn{
            width:100px;
        }
    }
    .overlay{
        position: fixed;
        background: #000;
        min-width: 100%;
        min-height: 100%;
        top: 0;
        opacity: 0.6;
    }
}

.vacay-table,.vacaytable{
    width:95%;
    margin:20px auto;
    th{
        border-bottom:1px solid #333;
        padding-bottom: 5px;
    }
    td{
        font-size:12px;
    }
}
.vacay-action{
    width:100px;
    padding-left: 12px;
}
.data-form .form-group label.error{
    width: 100%;
    text-align: right;
    padding-right: 15px;
    color: #f00;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
}
.image-preview{
    width: 200px;
    position: absolute;
    top: 150px;
    height: 150px;
    background: #000;
    right: 95px;
    overflow: hidden;
    border:10px solid #ccc;
    text-align: center;
    line-height: 140px;
    display: none;
    img{
        width:200px;
        max-width: 100%;
        display: inline-block;
        vertical-align: middle;
    }
    &.product{
        top:65px;
    }
}

.product-image-details{
    .vacay-table{
        td{
            height:75px;
            img{
                text-align: center;
                background: #ccc;
                padding:2px;
            }
        }
    }
}
.error{
    &.msg{
        color:#f00;
        font-size: 11px;
    }
}
.vacay-section{
    .form-cont{
        padding-top:30px;
        padding-bottom: 30px;
        background: #f0f0f0;
        position: relative;
        display: none;
        span{
            margin-right: 5px;
            margin-left:5px;
            font-size:11px;
        }
        input[type="text"]{
            width:100px;
        }
        input[type="submit"],input[type="button"]{
            width:auto;
            margin-left:10px;
        }
        .close-btn{
            position: absolute;
            right: 0px;
            top:5px;
            font-size:8px;
            color:#fff;
            background: #000;
            padding:2px 5px;
            border-radius: 15px;
            cursor: pointer;
        }
    }
    .vacay-table.tariff-tax-details{ 
        .update-form{
            .form-cont{
                input[type="text"]{
                    width: 90px;   
                }
                span.input-field{
                    position:relative;
                }
                label.error{
                    position: absolute;
                    white-space: nowrap;
                    left: 0;
                    top: 20px;
                    font-size: 10px;
                    color: #f00;   
                }
            }
        }
    }
    &.product-view-sub-section{
        padding:0 20px;
        .heading1{
            font-size:14px;
            font-weight:bold;
            border-bottom:1px dashed #333;
        }
    }
}
.product-facility-details{
    .facilityMsg{        
        font-size:16px;
        display: none;
        span{
            color:#7992BF;
            font-weight: bold;
        }
    }
    .facilities-list{
        padding: 20px;
        background-color: #f0f0f0;
        ul{
            li{
                float:left;
                width:150px;
                margin:10px 0;
                input[type="checkbox"]{
                    width:auto;   
                }   
            }
        }
        
    }
}
.pricerule-list{
    padding: 20px;
        ul{
            li{
                margin:10px 0;
                input[type="checkbox"]{
                    width:auto;
                    margin:0 10px;
                    position:relative;
                    top:2px;
                }   
            }
        }
}
.packageMsg{        
        font-size:16px;
        display: none;
        span{
            color:#7992BF;
            font-weight: bold;
        }
    }
.form-section{
    display: none;   
}
.cancel-details,.pricerule-list-table{
    display: none;
}