<div class="tabbable responsive">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
		<li><a href="#review" data-toggle="tab">Review</a></li>
		<li><a href="#other-info" data-toggle="tab">Other Info</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane fade in active" id="overview">
			<div class="col-md-3">
				<h1>About</h1>
			</div>
			<div class="col-md-9 expandDiv">
				<p>Welcome to our home, a spacious, brand-new three bedroom flat
					in one of Bangalore's most beautiful areas, right in the middle of
					trendy Koramangala. Enjoy an organic breakfast on the large terrace
					surrounded by greenery.Welcome to our home, a spacious, brand-new
					three bedroom flat in one of Bangalore's most beautiful areas,
					right in the middle of trendy Koramangala. Enjoy an organic
					breakfast on the large terrace surrounded by greenery.</p>
			</div>
			<div class="vertical-line"></div>
			<div class="col-md-3">
				<h1>Facilities</h1>
			</div>
			<div class="col-md-9 expandDiv">
				<ul>
					<li>Food</li>
					<li>Resort Facilities</li>
					<li>Resort Facilities</li>
					<li>Indor games</li>
					<li>Outdoor games</li>
					<li>Other facilities</li>
					<li>Resort Facilities</li>
					<li>Resort Facilities</li>
					<li>Indor games</li>
					<li>Outdoor games</li>
					<li>Other facilities</li>
				</ul>
			</div>
			<div class="vertical-line"></div>
			<div class="col-md-3 expandDiv">
				<h1>Visit Details</h1>
			</div>
			<div class="col-md-9">
				<p>
					<strong>Start Date:</strong> 06-8-2015 <strong><br>
						End Date:</strong> 08-8-2015 <strong><br> Time:</strong> 8 am to 6pm <strong><br>
						Distance:</strong> 45km Majestic
				</p>
			</div>
			<div class="vertical-line"></div>
			<div class="col-md-3">
				<h1>Package Details</h1>
			</div>
			<div class="col-md-9">
				<p>
					<strong>Breakfast, Lunch, Dinner with Games</strong>
				</p>
				<p>Breakfast, Lunch (Welcome Drink, Breakfast, Buffet Lunch,
					High Tea Usage of Swimming Pool) Volley Ball, Kids Play Area</p>
			</div>
		</div>
		<div class="tab-pane fade in" id="review">
			<div class="expandDiv">
				<p>This is dummy content for Tabbed Section 2. Lorem ipsum dolor
					sit amet, consectetur adipisicing elit, sed do eiusmod tempor
					incididunt ut labore et dolore magna aliqua. Ut enim ad minim
					veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
					ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
					voluptate velit esse cillum dolore eu fugiat nulla pariatur.
					Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
					officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
		<div class="tab-pane fade in" id="other-info">
			<div class="expandDiv">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
					do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
					enim ad minim veniam, quis nostrud exercitation ullamco laboris
					nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
					reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
					pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
					culpa qui officia deserunt mollit anim id est laborum. This is
					dummy content for Tabbed Section 3. Lorem ipsum dolor sit amet,
					consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
					labore et dolore magna aliqua. Ut enim ad minim veniam, quis
					nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate
					velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
		</div>
	</div>
</div>