<li><img src="gallery/1.jpg" data-description="Swimming Pool"
	alt=""></li>
<li><img src="gallery/2.jpg" data-description="Dummy Title" alt=""></li>
<li><img src="gallery/3.jpg" alt=""></li>
<li><img src="gallery/4.jpg" data-description="Swimming Pool"
	alt=""></li>
<li><img src="gallery/5.jpg" alt=""></li>
<li><img src="gallery/6.jpg" alt=""></li>
<li><img src="gallery/7.jpg" alt=""></li>
<li><img src="gallery/1.jpg" alt=""></li>
<li><img src="gallery/2.jpg" data-description="Dummy Title" alt=""></li>
<li><img src="gallery/3.jpg" alt=""></li>
<li><img src="gallery/4.jpg" data-description="Dummy Title" alt=""></li>
<li><img src="gallery/5.jpg" alt=""></li>