<div class="edit-form-container">
    <div class="row">
        <div class="col-md-12">
            <div class="item-container">
                <div class="data-form">
                    <div class="form-heading">
                        <h2>Add New tariff</h2>
                    </div>
                    
                    <form role="form" id="add-tariff-form">
                        <input type="hidden" name="id" value="{{productId}}"/>
                        <div class="form-group">
                            <label for="">Description:</label>
                            <textarea name="description" class="form-control required" placeholder="Description"></textarea>
                            <div class="clearfix"></div>
                        </div>
                        
                        <div class="form-group">
                            <label for="">Cost:</label>
                            <input type="textbox" name="cost" class="form-control required number" placeholder="Cost">
                            <div class="clearfix"></div>
                        </div>
                        
                        <button type="button" class="btn btn-default" id="add-tariff">Submit</button>
                        <a href="/products/product/{{productId}}" title="Cancel" class="btn btn-default">Cancel</a>
                     </form>
                </div>                
            </div>
        </div>
    </div>
</div>
