<div class="edit-form-container">
    <div class="row">
        <div class="col-md-12">
            <div class="item-container">
                <div class="data-form">
                    <div class="form-heading">
                        <h2>Add New Address</h2>
                    </div>
                    
                    <form role="form" id="add-address-form">
                        <input type="hidden" name="id" value="{{productId}}"/>
                        <div class="form-group">
                            <label for="">Address1:</label>
                            <input type="textbox" name="address1" class="form-control required" placeholder="Address1">
                            <div class="clearfix"></div>
                        </div>
                        
                        <div class="form-group">
                            <label for="">Address2:</label>
                            <input type="textbox" name="address2" class="form-control required" placeholder="Address2">
                            <div class="clearfix"></div>
                        </div>
                        
                        <div class="form-group">
                            <label for="">City:</label>
                            <input type="textbox" name="city" class="form-control required" placeholder="City">
                            <div class="clearfix"></div>
                        </div>
                        
                        <div class="form-group">
                            <label for="">State:</label>
                            <input type="textbox" name="state" class="form-control required" placeholder="State">
                            <div class="clearfix"></div>
                        </div>
                        
                        <div class="form-group">
                            <label for="">Postal Code:</label>
                            <input type="textbox" name="postalCode" class="form-control required number" minlength="5" placeholder="Postal Code">
                            <div class="clearfix"></div>
                        </div>
                        
                        <button type="button" class="btn btn-default" id="add-address">Submit</button>
                        <a href="/products/product/{{productId}}" title="Cancel" class="btn btn-default">Cancel</a>
                     </form>
                </div>                
            </div>
        </div>
    </div>
</div>
