<div class="dashboad-list">
    <p class="legend">Vacay Planner Admin Connect</p>
    <!--<div class="list-item">
        <a class="item-stats" href="#" title="Reporting &amp; Analytics">
            <span class="icon"></span>
            <span class="ico-label">Reporting &amp; Analytics</span>
        </a>
    </div>-->
    

    <div class="list-item">
        <a class="item-users" href="#" title="Manage Users/Admin">
            <span class="icon"></span>
            <span class="ico-label">Manage Users/Admin</span>
        </a>
    </div>

    <div class="list-item">
        <a class="item-categories" href="/categories/list" title="Manage Categories">
            <span class="icon"></span>
            <span class="ico-label">Manage Categories</span>
        </a>
    </div>

    <!--<div class="list-item">
        <a class="item-customer" href="#" title="Manage Customers">
            <span class="icon"></span>
            <span class="ico-label">Manage Customers</span>
        </a>
    </div>-->
    
    <div class="list-item">
        <a class="item-customer" href="/facilities/all" title="Manage Categories">
            <span class="icon"></span>
            <span class="ico-label">Manage Facilities Groups</span>
        </a>
    </div>

    <div class="list-item">
        <a class="item-orders" href="#" title="Manage Orders">
            <span class="icon"></span>
            <span class="ico-label">Manage Orders</span>
        </a>
    </div>
    
    <div class="list-item">
        <a class="item-classification" href="/classifications/all" title="Manage Classifications">
            <span class="icon"></span>
            <span class="ico-label">Manage Classification</span>
        </a>
    </div>
    
    <div class="list-item">
        <a class="item-default" href="#" title="Reporting &amp; Analytics">
            <span class="icon"></span>
            <span class="ico-label">Manage Price Rules</span>
        </a>
    </div>
    <!--<div class="manage-categories">
                    <a href="/categories/list" class="btn btn-default" title="Manage Categories"><i class="icon-settings"></i>Manage Categories</a>
                </div>-->
    <div class="clearfix"></div>
</div>