<div class="dashboad-list">
    <p class="legend">Vacay Planner Reports</p>
    <div class="list-item">
        <a class="item-tax" href="reports/bookings" title="Manage Sales">
            <span class="icon"></span>
            <span class="ico-label">Manage Sales</span>
        </a>
    </div>

    <div class="list-item">
        <a class="item-orders" href="reports/cancellations" title="Manage Cancellations">
            <span class="icon"></span>
            <span class="ico-label">Manage Cancellations</span>
        </a>
    </div>

    <div class="list-item">
        <a class="item-customer" href="reports/vendorReports" title="Manage Vendor Reports">
            <span class="icon"></span>
            <span class="ico-label">Manage Vendor Reports</span>
        </a>
    </div>



    <div class="clearfix"></div>
</div>