<div class="edit-form-container">
    <div class="row">
        <div class="col-md-12">
            <div class="item-container">
                <div class="data-form">
                    <div class="form-heading">
                        <h2>Update Terms And Conditions</h2>
                    </div>
                    
                    <form role="form" id="update-termsAndConditions-form">
                        <input type="hidden" name="id" value="{{productId}}"/>
                        <input type="hidden" name="termsAndConditionsId" value="{{producttermsAndConditions._id}}"/>
                        <div class="form-group">
                            <label for="">Description:</label>
                            <textarea name="description" class="form-control" placeholder="Description">{{productTariff.description}}</textarea>
                            <div class="clearfix"></div>
                        </div>
                        
                        
                        
                        <button type="button" class="btn btn-default" id="update-termsAndConditions">Submit</button>
                        <button type="button" class="cancel-edit-category btn btn-default">Cancel</button>
                     </form>
                </div>                
            </div>
        </div>
    </div>
</div>
