@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
.details-section .tabbable {
	margin: 10px 0 0;
	width: 100%;
}
.details-section .tab-content {
	padding: 30px 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #858585;
}
.details-section .nav > li > a {
	padding: 0 0 5px;
}
.details-section .nav-tabs > li {
	margin: 0 30px 0 0;
}
.details-section.tab-pane {
	min-height: inherit;
}
.details-section .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background: none;
	height: inherit;
	color: #ed3824;
	border-bottom: solid 3px #ed3824;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}
.details-section .nav > li > a:hover, .nav > li > a:focus {
	background: none;
	height: inherit;
	color: #ed3824;
	border-bottom: solid 3px #ed3824;
}
.details-section .nav-tabs > li > a {
	border-top: none;
	border-left: none;
	border-right: none;
}
.details-section .nav-tabs {
	border: none;
}
.details-section .tab-pane {
	min-height: inherit;
	padding: 0;
}
.nav-tabs > li > a {
	color: #aeaeae;
	border-bottom: solid 3px #aeaeae;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}
/* tab styles for small screen */
@media (max-width:767px) {
.details-section .tabbable.responsive .nav-tabs {
	font-size: 16px;
}
.details-section .tabbable.responsive .nav-tabs ul {
	margin: 0;
	width: 100%;
}
.details-section .tabbable.responsive .nav-tabs li {
	/* box-sizing seems like the cleanest way to make sure width includes padding */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	height: 44px;
	line-height: 44px;
	padding: 0 15px;
	border: 1px solid #ddd;
	overflow: hidden;
}
.details-section .tabbable.responsive .nav-tabs > li > a {
	border-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}
/* include hover and active styling for links to override bootstrap defaults */
.details-section .tabbable.responsive .nav-tabs > li > a:hover {
	border-style: none;
	background-color: transparent;
}
.details-section .tabbable.responsive .nav-tabs > li > a:active, .tabbable.responsive .nav-tabs > .active > a, .tabbable.responsive .nav-tabs > .active > a:hover {
	border-style: none;
}
}
/* sample styles for the tab controls on small screens  - start with left control and override for right */
.details-section .tabbable.responsive .nav-tabs > li > a.tab-control, .tabbable.responsive .nav-tabs > li > span.tab-control-spacer {
	float: left;
	width: 36px;
	height: 36px;
	margin-top: 4px;
	font-size: 40px;
	font-weight: 100;
	line-height: 29px;
	color: #fff;
	text-align: center;
	background: #444;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}
.details-section .tabbable.responsive .nav-tabs > li > a.tab-control.right, .tabbable.responsive .nav-tabs > li > span.tab-control-spacer.right {
	float: right;
}
.details-section .tabbable.responsive .nav-tabs > li > a.tab-control:hover {
	color: #fff;
	background: #444;
}
.details-section .tabbable.responsive .nav-tabs > li > span.tab-control-spacer {
	line-height: 28px;
	color: transparent;
	background: transparent;
}
