@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
.icon-filter {
	display: none;
}
@media screen and (max-width:991px) {
.main-search-container-inner {
	padding: 0 0 10px 0;
}
.filter-inner {
	padding: 10px 15px 10px 0;
}
.icon-filter {
	display: block;
	padding: 9px;
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	color: #fff !important;
	background: #d72511;
	text-align: center;
}
.filter-search {
	font-family: inherit;
	top: 0;
	left: 0;
	z-index: 9999;
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: #656565;
}
}
@media screen and (max-width:530px) {
.top-animate {
	background: #fff !important;
	top: 13px !important;
	-webkit-transform: rotate(45deg);
	/* Chrome, Safari, Opera */
	transform: rotate(45deg);
}
.mid-animate {
	opacity: 0;
}
.bottom-animate {
	background: #fff !important;
	top: 13px !important;
	-webkit-transform: rotate(-225deg);
	/* Chrome, Safari, Opera */
	transform: rotate(-225deg);
}
.top-menu {
	top: 5px;
	width: 25px;
	height: 2px;
	border-radius: 10px;
	background-color: #F9A530;
}
.mid-menu {
	top: 13px;
	width: 25px;
	height: 2px;
	border-radius: 10px;
	background-color: #F9A530;
}
.bottom-menu {
	top: 21px;
	width: 25px;
	height: 2px;
	border-radius: 10px;
	background-color: #F9A530;
}
/*Menu*/
.menui {
	background: #fff;
	transition: 0.6s ease;
	transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);
	margin-top: 10px;
	position: absolute;
}
.icon-menu {
	z-index: 9999;
	position: fixed;
	display: block;
	padding: 9px;
	height: 32px;
	width: 32px;
	margin: 0px;
	top: 0;
	right: 15px;
}
.mobilenav {
	/*    top: 47px !important;*/
	font-family: inherit;
	top: 0;
	left: 0;
	z-index: 9999;
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: red;
}
}
